body {
  background-color: slategray;
  display: grid;
  grid-template-columns: 1fr 1fr 6fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 6fr 1fr 1fr;
}

h1 {
  display: flex;
  justify-content: center;
  align-self: center;
  grid-area: 2 / 3 / 3/ 4;
}

#counter {
  grid-area: 3 / 3 / 4 /4;
  font-size: xx-large;
}
